<div>
    <h2>Please Enter the Location Name</h2>
</div> <br> <br>

<div class="container">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-12" style="text-align: center">
                <input type="text" class="search-query form-control" placeholder="Enter the location Name "
                    [(ngModel)]="locationName" name="locationName" id="locationName" />

                <button class="btn btn-primary" type="button" (click)="locationByName()">
                    <span>Submit</span>
                </button>

            </div>
        </div>
    </div>

    <div *ngIf="status == true">
        <div class="container">
            <form>

                <div class="form-group">
                    <label for="">Location Id</label>
                    <input type="text" class="form-control" [(ngModel)]="location.id" id="id" name="id">
                </div>

                <div class="form-group">
                    <label for="">LocationName</label>
                    <input type="text" class="form-control" [(ngModel)]="location.locationName" id="locationName"
                        name="locationName">
                </div>

                <div class="form-group">
                    <label for="">City</label>
                    <input type="text" class="form-control" [(ngModel)]="location.city" id="city" name="city">
                </div>


                <div class="form-group">
                    <label for="">State</label>
                    <input type="text" class="form-control" [(ngModel)]="location.state" id="state" name="state">
                </div>

                <div class="form-group">
                    <label for="">Country</label>
                    <input type="text" class="form-control" [(ngModel)]="location.country" id="country" name="country">
                </div>

                <div class="form-group">
                    <label for="">Pincode</label>
                    <input type="text" class="form-control" [(ngModel)]="location.pincode" id="pincode" name="pincode">
                </div>

                <br>

                <br>

                <button class="btn btn-primary" (click)="save()">Submit</button>
            </form>
        </div>

        
    </div>

    <br>
        <br>
        <button (click)="back()" class="btn btn-primary"> BACK</button>