
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="locationName" name="locationName">
            <button class="btn btn-outline-success" (click)="sortByLocation()">Search</button>
        </form>
    </div>
</nav>
<div>
    <h1>User Details</h1>
</div>


<div *ngIf="status == true">
    <div class="form-group">
        <table class="table">
            <thead>
                <th>User Id</th>&nbsp;&nbsp;
                <th>User Name</th>&nbsp;&nbsp;
                <th>User Email</th>&nbsp;&nbsp;
                <th>User Password</th>&nbsp;&nbsp;
                <th>User Phone</th>&nbsp;&nbsp;
                <th>User Role</th>&nbsp;&nbsp;
                <th>User Location Name</th>&nbsp;&nbsp;
                <th>User FlatNo</th>&nbsp;&nbsp;
                <th>User Address1</th>&nbsp;&nbsp;
                <th>User Address2</th>&nbsp;&nbsp;
            </thead>
            <tbody>
                <tr *ngFor="let user of users | async">
                    <td>{{user.aadhar}}</td> &nbsp;&nbsp;
                    <td>{{user.userName}}</td>&nbsp;&nbsp;
                    <td>{{user.email}}</td>&nbsp;&nbsp;
                    <td>{{user.password}}</td>&nbsp;&nbsp;
                    <td>{{user.phone}}</td>&nbsp;&nbsp;
                    <td>{{user.role}}</td>&nbsp;&nbsp;
                    <td>{{user.location.locationName}}</td>&nbsp;&nbsp;
                    <td>{{user.address.flatNo}}</td>&nbsp;&nbsp;
                    <td>{{user.address.address1}}</td>&nbsp;&nbsp;
                    <td>{{user.address.address2}}</td>&nbsp;&nbsp;
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="status1 == true">
    <div class="form-group">
        <table class="table">
            <thead>
                <th>User Id</th>&nbsp;&nbsp;
                <th>User Name</th>&nbsp;&nbsp;
                <th>User Email</th>&nbsp;&nbsp;
                <th>User Password</th>&nbsp;&nbsp;
                <th>User Phone</th>&nbsp;&nbsp;
                <th>User Role</th>&nbsp;&nbsp;
                <th>User Location Name</th>&nbsp;&nbsp;
                <th>User FlatNo</th>&nbsp;&nbsp;
                <th>User Address1</th>&nbsp;&nbsp;
                <th>User Address2</th>&nbsp;&nbsp;
            </thead>
            <tbody>
                <tr *ngFor="let user1 of sortUsers">
                    <td>{{user1.aadhar}}</td> &nbsp;&nbsp;
                    <td>{{user1.userName}}</td>&nbsp;&nbsp;
                    <td>{{user1.email}}</td>&nbsp;&nbsp;
                    <td>{{user1.password}}</td>&nbsp;&nbsp;
                    <td>{{user1.phone}}</td>&nbsp;&nbsp;
                    <td>{{user1.role}}</td>&nbsp;&nbsp;
                    <td>{{user1.location.locationName}}</td>&nbsp;&nbsp;
                    <td>{{user1.address.flatNo}}</td>&nbsp;&nbsp;
                    <td>{{user1.address.address1}}</td>&nbsp;&nbsp;
                    <td>{{user1.address.address2}}</td>&nbsp;&nbsp;
                </tr>
            </tbody>
        </table>
    </div>

    
</div>

    <br>
    <br>
    <button (click)="back()" class ="btn btn-primary"> BACK</button>