<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="admin/user">Admin User Page</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="admin/user/insert">InsertUser</a>
          <a class="nav-link" href="admin/user/update">UpdateUser</a>
          <a class="nav-link" href="admin/user/delete">DeleteUser</a>
          <a class="nav-link" href="admin/user/display">DisplayUser</a>
          <a class="nav-link" href="index">Logout</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="form-group">
    <br>
    <br>
    <button (click)="back()" class ="btn btn-primary"> BACK</button>
  </div>